<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGIC MAIL SENDER</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>

<body>
    <div class="container mt-4">
        <h1 style="text-align: center;font-family: Arial, Helvetica, sans-serif;">Magic Mail</h1>

        <!-- Form -->
        <form method="POST" action="/">

            <!-- Sender section -->
            <div class="form-group">
                <div style="display: flex;align-items: center;margin-top: 18px;margin-left: 17px;">
                    <strong style="margin-right: 10px;">From</strong>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="sender" required>
                </div>

                <!-- Password section -->
                <div style="display: flex;align-items: center;margin-top: 18px;margin-left: -16px;">
                    <strong style="margin-right: 10px;">Password</strong>
                    <input type="password" class="form-control" aria-describedby="emailHelp" name="password" required>
                </div>

                <small style="margin-left: 66px;" id="emailHelp" class="form-text text-muted">We do not storing your
                    password</small>


                <!-- Recievers section -->
                <div style="display: flex;align-items: center;margin-top: 18px;margin-left: 37px;">
                    <strong style="margin-right: 10px;">To</strong>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="mails" multiple required>
                </div>
                <small style="margin-left: 66px;" id="emailHelp" class="form-text text-muted">We'll never share your
                    email with anyone
                    else.</small>
            </div>

            <!-- Title section -->
            <div style="display: flex;align-items: center;margin-top: 18px;margin-left: 20px;">
                <strong style="margin-right: 10px;">Title</strong>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="title" required>
            </div>



            <!-- Subject section -->
            <div class="form-group mt-4">
                <div style="display: flex;align-items: flex-start;">

                    <strong style="margin-right: 10px;">Subject</strong>

                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content"
                        style="white-space: pre-wrap;font-size: 18px;" placeholder="Write your content Here"
                        required></textarea>

                </div>

            </div>


            <!-- Send Button -->
            <button type="submit" class="btn btn-primary" style="margin-left: 58px;">Send</button>
        </form>

    </div>

    <!-- BOOTSTRAP JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>